.mobile-menu-container {
    display: none;
}
.mobile-nav {
    display: none;
    float: left;
    font-size: 16px;
    color: #161616;
}
.dark .mobile-nav {
    color: #fff;
}
.mobile-menu {
    font-size: 12px;
    font-family: var(--ui-font);
    font-weight: 600;
    letter-spacing: .075em;
    color: #161616;
}
.mobile-menu.active {
    display: block;
}
.mobile-menu ul {
    max-height: 0;
    opacity: 0;
    background: 0 0;
    overflow: hidden;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    transition: opacity .6s ease, max-height .8s ease;
}
.mobile-menu ul li {
    float: none;
    clear: both;
    display: block;
    max-width: 100%;
    padding-left: 25px;
}
.mobile-menu ul li a {
    font-size: 11px;
    color: #555;
}
.mobile-menu .nav-icons {
    display: none;
}
.mobile-menu .mega-menu {
    display: none;
}
.mobile-menu .item-active > ul {
    opacity: 1;
    max-height: 3000px;
    transition: opacity .4s ease-in, max-height 1s ease-in;
}
.mobile-menu li {
    position: relative;
}
.mobile-menu li a {
    position: relative;
    float: none;
    display: block;
    padding: 14px 50px 14px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    line-height: 1.4;
    color: inherit;
    text-transform: uppercase;
}
.mobile-menu .chevron {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px 25px;
    margin-right: -15px;
    border: 0;
    color: #aaa;
    text-align: center;
    font-size: 8px;
    line-height: 1.4;
    cursor: pointer;
}
.mobile-menu .item-active > .chevron {
    transform: rotate(180deg);
}
.mobile-menu > li li {
    padding-left: 20px;
}
.mobile-menu ul li:last-child > a {
    border-bottom-color: transparent;
}
.mobile-menu ul li:last-child ul {
    border-bottom-color: transparent;
}
.mobile-menu ul li.item-active > a {
    border-bottom: 1px solid rgba(0, 0, 0, .07);
}
.mobile-menu li:hover > a,
.mobile-menu > .current-menu-item.menu-item > a,
.mobile-menu > .current-menu-parent.menu-item > a,
.mobile-menu > .current-menu-ancestor.menu-item > a,
.mobile-menu li li.current-menu-item a {
    background: rgba(0, 0, 0, .01);
}
.nav-off-canvas {
    overflow-x: hidden;
}
.off-canvas {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    width: 45vw;
    min-width: 200px;
    padding: 60px 25px 25px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    z-index: 1000;
    transform: translate3d(-100%, 0, 0);
    transition: transform .4s ease-in-out;
}
.off-canvas .mobile-logo {
    display: inline-block;
    max-width: 85%;
}
.off-canvas .logo {
    margin-bottom: 45px;
    text-align: center;
}
.off-canvas .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 9px;
    background: #161616;
    color: #fff;
    line-height: 26px;
    font-size: 14px;
}
.off-canvas .mobile-menu {
    transition: opacity .5s ease-in;
    opacity: .2;
}
.admin-bar .off-canvas {
    top: 46px;
}
.off-canvas-active .off-canvas {
    transform: translate3d(0, 0, 0);
    box-shadow: 4px 0 8px 0 rgba(0, 0, 0, .2);
}
.off-canvas-active .mobile-menu {
    opacity: 1;
}
@media (max-width: 940px) {
    .mobile-nav {
        display: block;
        margin-right: 18px;
    }
    .off-canvas {
        display: block;
    }
}
@media (max-width: 540px) {
    .off-canvas {
        width: 75vw;
    }
}
@media (max-width: 350px) {
    .off-canvas {
        width: 85vw;
    }
}
.tsi {
    display: inline-block;
    font: normal normal normal 14px/1 ts-icons;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.tsi-search:before {
    content: "\f002";
}
.tsi-close:before {
    content: "\f00d";
}
.tsi-times:before {
    content: "\f00d";
}
.tsi-home:before {
    content: "\f015";
}
.tsi-chevron-down:before {
    content: "\f078";
}
.tsi-angle-left:before {
    content: "\f104";
}
.tsi-angle-right:before {
    content: "\f105";
}
.tsi-angle-up:before {
    content: "\f106";
}
.tsi-angle-down:before {
    content: "\f107";
}
.mobile-menu li a {
    letter-spacing: .08em;
}
