.btn:focus {
    box-shadow: none;
}
.table-indent {
    th, td {
        vertical-align: middle;
    }
    .indent-1 {
        padding-left: 25px;
    }
    .indent-2 {
        padding-left: 50px;
    }
    .indent-3 {
        padding-left: 75px;
    }
    .indent-4 {
        padding-left: 100px;
    }
    .indent-5 {
        padding-left: 125px;
    }
    .fa-check-circle {
        font-size: 17px;
    }
    .menu-action {
        .btn-secondary {
            background-color: transparent;
            border-color: transparent;
            color: #6c757d;
            box-shadow: none;
            &:hover {
                color: #fff;
                background-color: #5a6268;
                border-color: #545b62;
            }
            &:disabled {
                opacity: 0;
            }
        }
        i {
            font-size: 17px;
        }
    }
}
